li {
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    list-style: none;
    
    display: flex;
    justify-content: space-between;
}

.mark-as-done {
    text-decoration: line-through;
}
.deleteSpan {
    cursor: pointer;
}



